#create-wf {
}
#wf-container {
    background-color: #AFEEEE;
    padding: 50px;
    text-align: center;
    display: none;
}
#links, #status {
    height: 25px;
}
#links a {
    margin-right: 20px;
}
#status.error {
    color: red;
}
h1, h3 {
    margin: 0 0 10px;
}
#color-analysis {
    display: none;
}
#color-analysis span {
    width: 40px;
    height: 15px;
    display: block;
    border: 1px solid black;
}